/* Fonts */
@font-face {
  font-family: "Audrey";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Audrey-Normal.otf") format("opentype");
}

@font-face {
  font-family: "Coco";
  font-weight: normal;
  font-style: Condensed;
  src: url("../fonts/Coco.otf") format("opentype");
}

/* Global style */
body {
  min-height: 100vh;
  background-color: #F0FFFF;
  margin: 0px;
}

*::selection {
  background-color: red;
}

/* The following is related to the nav bar and footer */
nav, 
footer {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #999;
  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: sticky;
  top: 0;
  font-family: "Audrey";
  height: 5vh;
  padding: 0 5%;
}

footer {
  font-family: "Montserrat", "Helvetica";
  height: 10vh;
  padding: 0 25%;
}

nav ul,
footer ul {
  margin-left: auto;
}

ul {
  display: flex;
  list-style-type: none;
}

li.menu {
  margin-left: 30px;
}

.menu, 
#copyright {
  opacity: 0.8;
}

footer img {
  width: 1rem;
  margin-left: 5px;
}

/* The following is related to links */

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

a:active {
  color: inherit;
}

a {
  transition: color 0.3s linear;
}

/* The following is related to the landing page */
#typedjs_container {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: black;
  cursor: url("../images/down_arrow.png"), auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.typed-cursor {
  font-size: 3em;
  font-family: "Coco";
  letter-spacing: 10px;
  display: inline;
}

#coming_soon {
  opacity: 0;
  padding: 0;
  width: 18rem;
  margin: 0 auto;
}

#coming_soon.fade_in {
  opacity: 100;
  transition: opacity 2s;
}

/* Typedjs cursor makes the text seem off centered. This fixes that. */
#name_typed {
  margin-left: 15px;
}

/* The following is related to the main content */
#content {
  background-color: inherit;
  display: flex;
  min-height: 96vh;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.6em;
  text-align: center;
  margin: 0 auto;
}

/* The following is related to the work and blog content */
section {
  font-weight: 100;
  max-height: inherit;
}

.rev_images {
  height: 800px;
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}

.rev_images img {
  width: 100%;
  height: 800px;
}

.article_content {
  width: 65%;
  margin: 40px auto;
  text-align: left;
}

.section_header {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background: #F0EBF4;
}

.section_header p {
  display: block;
  flex: 1;
}