{% extends "pages/base.html" %}

{% block body %}
  <div id="typedjs_container">
    <div id="typed_js">
      <h1 class="typed-cursor hover_state" id="name_typed"></h1>
      <!--<h2 id="coming_soon" class="hover_state">Coming Soon</h2>-->
    </div>
  </div>
  {{ block.super }}
{% endblock %}

{% block content %}
<div id="about_content">
  <div class="left_align">
    <p>
      I am <span id="name" class="red_text">Hrithvik.</span><br>A <span id="year" class="red_text">fourth year</span><br> Computer Science student at The University of Sydney.
    </p>
  </div>
  <div class="right_align">
    <p>
      Passionate about<br><span id="passion" class="red_text">Web Development.</span><br> 
      Taking one step at a time out of the comfort zone and leaping towards the next milestone.
    </p>
    <p>
      Based in Sydney, Australia.
    </p>
  </div>
</div>
<p id="find_me">Find me <span id="interest" class="red_text">trading the market.</span></p>
{% endblock %}