{% extends "pages/base.html" %}

{% block content %}
<div id="about_content" class="masonry">
  <div class="left_align">
    <p>
      I am <span id="name" class="red_text">Hrithvik.</span><br>A <span id="year" class="red_text">fourth year</span><br> Computer Science student at The University of Sydney.
    </p>
  </div>
  <div class="right_align">
    <p>
      Passionate about <span id="passion" class="red_text">Web Development.</span><br> 
      Taking one step at a time out of the comfort zone and leaping towards the next milestone.
    </p>
    <p>
      Based in Sydney, Australia.
    </p>
  </div>
</div>
{% endblock %}