<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="copyright" content="Hrithvik Sood">
  <meta name="keywords" content="Hrithvik Sood, Portfolio, Computer Science, Student">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}JACOB SOOD{% endblock %}</title>
</head>

<body>
  {% block header %}
  <header id="page_header">
	<h1 class="my_name"><a href="{% url 'home' %}">{% block name %}Hrithvik Sood{% endblock %}</a></h1>
	{% block nav_bar %}
	<nav class="menu">
	  <ul>
		<li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'work' %}">Work</a></li>
		<li><a href="{% url 'blog' %}">Blog</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
	  </ul>
	</nav>
	{% endblock %}
  </header>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  <footer id="page_footer">
	<p id="copyright">&copy; Hrithvik Sood 2020.</p>
	<p id="location">Currently in Sydney, Australia.</p>
	<ul id=social_media>
	  <li><a href="{% url 'email' %}"><img src=""></a></li>
	  <li><a href="{% url 'linkedin' %}"><img src=""></a></li>
	  <li><a href="{% url 'github' %}"><img src=""></a></li>
	  <li><a href="{% url 'bitbucket' %}"><img src=""></a></li>
	  <li><a href="{% url 'instagram' %}"><img src=""></a></li>
  </ul>
  </footer>
  {% endblock %}
</body>
</html>
