{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
  <meta name="copyright" content="Hrithvik Sood">
  <meta name="keywords" content="Hrithvik Sood, Portfolio,
    Computer Science, Student">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hrithvik Sood - {{ page }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
  <style>
    {{ page_style }} {
      opacity: 1;
      border-bottom: 0.01em solid #548d6c;
      font-weight: 700;
    }
  </style>
</head>

<body>
  {% block body %}
    {% block header %}
    <nav id="nav_bar">
      <p id="home"><a href="{% url 'home' %}">HRITHVIK SOOD</a></p>
      <ul>
        <li id="work" class="menu"><a href="{% url 'work' %}">WORK</a></li>
        <li id="blog" class="menu"><a href="{% url 'blog' %}">BLOG</a></li>
        <li id="contact" class="menu"><a href="{% url 'contact' %}">CONTACT</a></li>
      </ul>
    </nav>
    {% endblock %}

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    
    {% block footer %}
    <footer id="page_footer">
      <p id="copyright">&copy; Hrithvik Sood 2020. Currently in Sydney, Australia.</p>
      <ul>
        <li class="social_media menu"><a target="_blank" href="mailto:hrithviksood1@gmail.com"><img
          src="{% static 'images/flaticons/email.png' %}"></a></li>
        <li class="social_media menu"><a target="_blank" href="https://www.linkedin.com/in/hrithvik-sood/"><img 
          src="{% static 'images/flaticons/linkedin.png' %}"></a></li>
        <li class="social_media menu"><a target="_blank" href="https://github.com/hsoo6373/"><img 
          src="{% static 'images/flaticons/github.png' %}"></a></li>
        <li class="social_media menu"><a target="_blank" href="https://www.instagram.com/hrithvik_sood/"><img 
          src="{% static 'images/flaticons/instagram.png' %}"></a></li>
      </ul>
    </footer>
    {% endblock %}
  {% endblock %}
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>
</html>
