{% extends "pages/base.html" %}

{% block content %}
<div id="contact_div">
	<div id="contact_heading">
		<h1>Wanna grab a coffee?</h1>
		<p> Hit me up!</p>
	</div>
	<ul class="contact_tiles">
		<li>
			<p>Email</p>
			<p class="break"></p>
			<a href="mailto:{{ email }}">Email Me</a>
		</li>
		<li>
			<p>LinkedIn</p>
			<p class="break"></p>
			<a target="_blank" href="{{ linkedin }}">Visit LinkedIn</a>
		</li>
		<li>
			<p>GitHub</p>
			<p class="break"></p>
			<a target="_blank" href="{{ github }}">Visit GitHub</a>
		</li>
		<li>
			<p>Instagram</p>
			<p class="break"></p>
			<a target="_blank" href="{{ instagram }}">Visit Instagram</a>
		</li>
	</ul>
</div>
{% endblock %}